[io/elementary/appcenter/settings]
cached-drivers=['nvidia-driver-535-server-open, (kernel modules provided by nvidia-dkms-535-server-open)', 'nvidia-driver-535-server, (kernel modules provided by nvidia-dkms-535-server)', 'nvidia-driver-550, (kernel modules provided by nvidia-dkms-550)', 'nvidia-driver-550-open, (kernel modules provided by nvidia-dkms-550-open)', 'nvidia-driver-535-open, (kernel modules provided by nvidia-dkms-535-open)', 'nvidia-driver-470-server, (kernel modules provided by nvidia-dkms-470-server)', 'nvidia-driver-545-open, (kernel modules provided by nvidia-dkms-545-open)', 'nvidia-driver-470, (kernel modules provided by nvidia-dkms-470)']
last-refresh-time=int64 1720867830
window-height=967
window-maximized=false
window-width=948

[org/gnome/baobab/ui]
window-size=(960, 600)
window-state=87168

[org/gnome/control-center]
last-panel='desktop-main'

[org/gnome/desktop/app-folders/folders/Pop-Office]
apps=['libreoffice-calc.desktop', 'libreoffice-draw.desktop', 'libreoffice-impress.desktop', 'libreoffice-math.desktop', 'libreoffice-startcenter.desktop', 'libreoffice-writer.desktop']
name='Office'
translate=true

[org/gnome/desktop/app-folders/folders/Pop-System]
apps=['gnome-language-selector.desktop', 'gnome-session-properties.desktop', 'gnome-system-monitor.desktop', 'im-config.desktop', 'nm-connection-editor.desktop', 'nvidia-settings.desktop', 'org.gnome.baobab.desktop', 'org.gnome.DiskUtility.desktop', 'org.gnome.PowerStats.desktop', 'org.gnome.seahorse.Application.desktop', 'software-properties-gnome.desktop', 'system76-driver.desktop', 'system76-firmware.desktop']
name='System'
translate=true

[org/gnome/desktop/app-folders/folders/Pop-Utility]
apps=['com.github.donadigo.eddy.desktop', 'com.system76.Popsicle.desktop', 'gucharmap.desktop', 'info.desktop', 'org.gnome.eog.desktop', 'org.gnome.Evince.desktop', 'org.gnome.Extensions.desktop', 'org.gnome.FileRoller.desktop', 'org.gnome.font-viewer.desktop', 'org.gnome.Screenshot.desktop', 'org.gnome.Totem.desktop', 'pop-cosmic-applications.desktop', 'pop-cosmic-launcher.desktop', 'pop-cosmic-workspaces.desktop', 'simple-scan.desktop', 'yelp.desktop']
name='Utilities'
translate=true

[org/gnome/desktop/background]
color-shading-type='solid'
picture-options='zoom'
picture-uri='file:///home/sycanz/Pictures/abstractWallpaper.jpg'
picture-uri-dark='file:///home/sycanz/.local/share/backgrounds/2024-07-13-21-12-19-boliviainteligente-37WxvlfW3to-unsplash.jpg'
primary-color='#000000000000'
secondary-color='#000000000000'

[org/gnome/desktop/calendar]
show-weekdate=false

[org/gnome/desktop/input-sources]
current=uint32 0
per-window=false
sources=[('xkb', 'us')]
xkb-options=@as []

[org/gnome/desktop/interface]
clock-show-seconds=true
clock-show-weekday=true
color-scheme='prefer-dark'
cursor-theme='McMojave-cursors'
document-font-name='JetBrainsMono Nerd Font Mono 11'
enable-hot-corners=false
font-antialiasing='grayscale'
font-hinting='slight'
font-name='JetBrainsMono Nerd Font Mono 10'
gtk-theme='WhiteSur-Dark'
icon-theme='BigSur-black'
monospace-font-name='JetBrainsMono Nerd Font Mono 11'

[org/gnome/desktop/notifications]
application-children=['io-elementary-appcenter', 'firefox', 'com-discordapp-discord', 'gnome-network-panel', 'com-spotify-client', 'gnome-power-panel', 'org-gnome-fileroller']

[org/gnome/desktop/notifications/application/com-discordapp-discord]
application-id='com.discordapp.Discord.desktop'

[org/gnome/desktop/notifications/application/com-spotify-client]
application-id='com.spotify.Client.desktop'

[org/gnome/desktop/notifications/application/firefox]
application-id='firefox.desktop'

[org/gnome/desktop/notifications/application/gnome-network-panel]
application-id='gnome-network-panel.desktop'

[org/gnome/desktop/notifications/application/gnome-power-panel]
application-id='gnome-power-panel.desktop'

[org/gnome/desktop/notifications/application/io-elementary-appcenter]
application-id='io.elementary.appcenter.desktop'

[org/gnome/desktop/notifications/application/org-gnome-fileroller]
application-id='org.gnome.FileRoller.desktop'

[org/gnome/desktop/peripherals/touchpad]
click-method='areas'
two-finger-scrolling-enabled=true

[org/gnome/desktop/privacy]
report-technical-problems=false

[org/gnome/desktop/screensaver]
color-shading-type='solid'
lock-delay=uint32 0
lock-enabled=false
picture-options='zoom'
picture-uri='file:///home/sycanz/Pictures/abstractWallpaper.jpg'
primary-color='#000000000000'
secondary-color='#000000000000'
ubuntu-lock-on-suspend=false

[org/gnome/desktop/session]
idle-delay=uint32 0

[org/gnome/desktop/sound]
allow-volume-above-100-percent=false

[org/gnome/desktop/wm/preferences]
button-layout='appmenu:minimize,maximize,close'
titlebar-font='JetBrainsMono Nerd Font Mono 10'

[org/gnome/eog/view]
background-color='rgb(0,0,0)'
use-background-color=true

[org/gnome/evolution-data-server]
migrated=true
network-monitor-gio-name=''

[org/gnome/file-roller/dialogs/extract]
recreate-folders=true
skip-newer=false

[org/gnome/file-roller/listing]
list-mode='as-folder'
name-column-width=250
show-path=false
sort-method='time'
sort-type='ascending'

[org/gnome/file-roller/ui]
sidebar-width=200
window-height=1017
window-width=948

[org/gnome/gedit/preferences/editor]
scheme='pop-dark'

[org/gnome/mutter]
edge-tiling=false

[org/gnome/nautilus/preferences]
default-folder-viewer='icon-view'
search-filter-time-type='last_modified'

[org/gnome/nautilus/window-state]
initial-size=(948, 1064)
maximized=false

[org/gnome/settings-daemon/plugins/color]
night-light-enabled=false
night-light-temperature=uint32 2700

[org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/PopLaunch1]
binding='Launch1'
command='gnome-control-center wifi'
name='WiFi'

[org/gnome/settings-daemon/plugins/power]
sleep-inactive-ac-timeout=1800
sleep-inactive-ac-type='nothing'
sleep-inactive-battery-timeout=1800
sleep-inactive-battery-type='nothing'

[org/gnome/shell]
command-history=[':t shutdown', 'reboot', 'shut down', 'shutdown', 'power off', 'poweroff']
disabled-extensions=@as []
enabled-extensions=['ding@rastersoft.com', 'pop-cosmic@system76.com', 'pop-shell@system76.com', 'system76-power@system76.com', 'ubuntu-appindicators@ubuntu.com', 'cosmic-dock@system76.com', 'cosmic-workspaces@system76.com', 'popx11gestures@system76.com', 'user-theme@gnome-shell-extensions.gcampax.github.com', 'logomenu@aryan_k', 'blur-my-shell@aunetx']
favorite-apps=['firefox.desktop', 'org.gnome.Nautilus.desktop', 'gnome-control-center.desktop']
had-bluetooth-devices-setup=true
welcome-dialog-last-shown-version='42.9'

[org/gnome/shell/extensions/Logo-menu]
menu-button-icon-image=0
menu-button-icon-size=24
show-power-options=true

[org/gnome/shell/extensions/dash-to-dock]
click-action='cycle-windows'
dash-max-icon-size=45
dock-alignment='CENTER'
dock-fixed=true
dock-position='BOTTOM'
extend-height=false
intellihide=false
manualhide=false
multi-monitor=false
show-mounts=true

[org/gnome/shell/extensions/ding]
icon-size='standard'

[org/gnome/shell/extensions/pop-cosmic]
clock-alignment='RIGHT'
show-applications-button=true
show-workspaces-button=true

[org/gnome/shell/extensions/pop-shell]
active-hint=false
active-hint-border-radius=uint32 14
gap-inner=uint32 2
gap-outer=uint32 2
hint-color-rgba='rgb(57,151,248)'
tile-by-default=true

[org/gnome/shell/extensions/user-theme]
name='WhiteSur-Dark'

[org/gnome/system/location]
enabled=false

[org/gtk/gtk4/settings/file-chooser]
date-format='regular'
location-mode='path-bar'
show-hidden=false
show-size-column=true
show-type-column=true
sidebar-width=162
sort-column='name'
sort-directories-first=false
sort-order='ascending'
type-format='category'
window-size=(805, 374)

[org/gtk/settings/color-chooser]
custom-colors=[(0.22386666666666666, 0.5906269503546101, 0.97333333333333338, 1.0), (0.98431372549019602, 0.72156862745098038, 0.42352941176470588, 1.0)]
selected-color=(true, 0.22386666666666666, 0.5906269503546101, 0.97333333333333338, 1.0)

[org/gtk/settings/file-chooser]
date-format='regular'
location-mode='path-bar'
show-hidden=true
show-size-column=true
show-type-column=true
sidebar-width=200
sort-column='name'
sort-directories-first=true
sort-order='ascending'
type-format='category'
window-position=(45, 29)
window-size=(1124, 822)
